html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
background-color: #1a1717;
}


div#fond{
	width: 980px;
	height: 5709px;
	background-image: url("fond2.png");
	margin: auto;
	background-repeat: no-repeat;
  }



	  #hippie{
display: inline-block;
margin-top: 140px ;
margin-left: -20px;

}

#peace h1{
display: inline-block;
color: white;
font-size: 4em

}

#hippie p{
	margin-top: 50px;

	font-size: 1.5em;
	line-height: 1.2em;
	color: white;
	width: 650px;
}
#lsdtitre{
}

#lsdtitre h2{
	margin-top: 80px;
margin-bottom: 90px;
color: white;
font-size: 4em;
margin-left: 365px;
}	
#LSD{

margin-top: 127px;
margin-left: 460px;

}
#LSD p{
	font-size: 1.5em;
	text-align: right;
	line-height: 1.2em;
	color: white;
	width: 600px;
}

#arttitre h3{
color: white;
font-size: 5em;
margin-top: 120px;
margin-left: 200px;
}

#art{
	display: inline-block;;
	margin-left: -120px;
}

#art p{
	font-size: 1.5em;
	line-height: 1.2em;
	color: white;
	width: 470px;
	margin-top: 123px;
	margin-left: 70px;
}



/*__________________________________________*/

#fil {
	width: 980px;
	height: 2300px;
	margin: auto;
	background-repeat: no-repeat;
	
}


 
div#prem{

}

#fil h4{
	font-size: 3.2em;
	color: white;
	display: inline-block;
margin-top: 200px;
	margin-left: 550px;
  }

div#prem p{
margin-top: 78px;
	width: 490px;
	text-align: right;
	font-size: 1.5em;
	line-height: 1.2em;
	color: white;
	margin-left: 220px;
}


div#ordi img{
	float: left;
margin-top: -300px;
display: inline-block;
	width: 270px;
	margin-left: 700px;
}


div#deux p{
	width: 600px;
	font-size: 1.5em;
	line-height: 1.2em;
	color: white;
	margin-left: 220px;
	margin-top: 125px;
	}

}
#formule {
	margin-top: 350px;
	width: 500px;
}
#formule  img{
	margin-top: 125px;
	margin-left: 130px;
	width: 500px;
}

#fil h5 {
	margin-left: 90px;
	margin-top: 70px;
font-size: 3.2em;
	color: white;
	display: inline-block;
}

/*--------------------------------*/

#premtitre h1 {
margin-top: 530px;
	font-size: 2.2em;
	color: white;
	display: inline-block;
}

#un{
display: inline-block; 
margin: auto;
}

div#un p{

	text-align: right;
margin-left: 525px;
	font-size: 1.5em;
	line-height: 1.2em;
	color: white;
	margin-top: 128px;
	display: inline-block;
width: 460px;
}

#dos{
	width: 720px;
	display: inline-block;
}

#dos p{
	font-size: 1.5em;
	line-height: 1.2em;
	color: white;
	height: 350px;
	margin-top: 120px;
	width: 400px;
	margin-left:-10px;
	}


#trece{
display: inline-block;

}
#trece p{
	display: inline-block;
	width: 535px;
	margin-top: 227px;
	font-size: 1.5em;
	line-height: 1.2em;
	color: white;
}
#trece1 p{

	width: 670px;
	font-size: 1.5em;
	line-height: 1.2em;
	color: white;
	margin-bottom: 170px;
}



#retour {
	display: inline-block;
  }

#retour a{
	display: inline-block;
	font-size: 2em;
	color: white;
}

#autre {

	display: inline-block;
	margin-left: 350px;
}

#autre a{
	font-size: 2em;
	color: white;
	display: inline-block;
	margin-bottom: 80px;
	  }

 body p{
font-family: 'Titillium Web', sans-serif;
}

body h1  {
font-family: 'Bungee', cursive;
}

body h2  {
font-family: 'Bungee', cursive;	
}

body h3  {
font-family: 'Bungee', cursive;
}

body h4  {
font-family: 'Bungee', cursive;
}


body h5  {
font-family: 'Bungee', cursive;	
}

body h6  {
font-family: 'Bungee', cursive;
}
